body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #5f9341;
}

button {
  background-color: #5f9341;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  margin-top: 0.5em;
}
